In [1]:
import pandas as pd

In [2]:
orders = pd.read_excel(r"C:\Users\PRANAV\OneDrive\Desktop\JAR\List_of_Orders_1.xlsx")
order_details = pd.read_excel(r"C:\Users\PRANAV\OneDrive\Desktop\JAR\Order_Details_1.xlsx")

In [3]:
print(orders.head())

  Order ID Order Date CustomerName           State       City
0  B-25601 2018-04-01       Bharat         Gujarat  Ahmedabad
1  B-25602 2018-04-01        Pearl     Maharashtra       Pune
2  B-25603 2018-04-03        Jahan  Madhya Pradesh     Bhopal
3  B-25604 2018-04-03       Divsha       Rajasthan     Jaipur
4  B-25605 2018-04-05      Kasheen     West Bengal    Kolkata

In [5]:
print(order_details.head())

  Order ID  Amount  Profit  Quantity     Category      Sub-Category
0  B-25601    1275   -1148         7    Furniture         Bookcases
1  B-25601      66     -12         5     Clothing             Stole
2  B-25601       8      -2         3     Clothing       Hankerchief
3  B-25601      80     -56         4  Electronics  Electronic Games
4  B-25602     168    -111         2  Electronics            Phones

In [6]:
order_id_col_orders = "Order ID"
order_id_col_details = "Order ID"

In [7]:
merged_df = pd.merge(orders, order_details, left_on=order_id_col_orders, right_on=order_id_col_details, how="inner")

In [8]:
print(merged_df.head())

  Order ID Order Date CustomerName        State       City  Amount  Profit  \
0  B-25601 2018-04-01       Bharat      Gujarat  Ahmedabad    1275   -1148
1  B-25601 2018-04-01       Bharat      Gujarat  Ahmedabad      66     -12
2  B-25601 2018-04-01       Bharat      Gujarat  Ahmedabad       8      -2
3  B-25601 2018-04-01       Bharat      Gujarat  Ahmedabad      80     -56
4  B-25602 2018-04-01        Pearl  Maharashtra       Pune     168    -111

   Quantity     Category      Sub-Category
0         7    Furniture         Bookcases
1         5     Clothing             Stole
2         3     Clothing       Hankerchief
3         4  Electronics  Electronic Games
4         2  Electronics            Phones

In [13]:
merged_df["Amount"] = pd.to_numeric(merged_df["Amount"], errors="coerce")
merged_df["Profit"] = pd.to_numeric(merged_df["Profit"], errors="coerce")

In [15]:
regional_summary = merged_df.groupby("State").agg(total_sales=("Amount", "sum"),avg_profit=("Profit", "mean"),order_count=(order_id_col_orders, "nunique")).reset_index()

In [16]:
top_5_states = regional_summary.sort_values(by="order_count", ascending=False).head(5)

In [17]:
print(top_5_states)

             State  total_sales  avg_profit  order_count
10  Madhya Pradesh       105140   16.326471          101
11     Maharashtra        95348   21.296552           90
14       Rajasthan        21149   16.986486           32
4          Gujarat        21058    5.344828           27
13          Punjab        16786  -10.150000           25