# Part_1(A)

In [1]:
import pandas as pd

In [2]:
orders = pd.read_excel(r"C:\Users\PRANAV\OneDrive\Desktop\JAR\List_of_Orders_1.xlsx")
order_details = pd.read_excel(r"C:\Users\PRANAV\OneDrive\Desktop\JAR\Order_Details_1.xlsx")

In [4]:
print(orders.head())

  Order ID Order Date CustomerName           State       City
0  B-25601 2018-04-01       Bharat         Gujarat  Ahmedabad
1  B-25602 2018-04-01        Pearl     Maharashtra       Pune
2  B-25603 2018-04-03        Jahan  Madhya Pradesh     Bhopal
3  B-25604 2018-04-03       Divsha       Rajasthan     Jaipur
4  B-25605 2018-04-05      Kasheen     West Bengal    Kolkata

In [5]:
print(order_details.head())

  Order ID  Amount  Profit  Quantity     Category      Sub-Category
0  B-25601    1275   -1148         7    Furniture         Bookcases
1  B-25601      66     -12         5     Clothing             Stole
2  B-25601       8      -2         3     Clothing       Hankerchief
3  B-25601      80     -56         4  Electronics  Electronic Games
4  B-25602     168    -111         2  Electronics            Phones

In [6]:
order_id_col_orders = "Order ID"
order_id_col_details = "Order ID"

In [7]:
merged_df = pd.merge(orders,order_details,left_on=order_id_col_orders,right_on=order_id_col_details,how="inner")

In [8]:
category_col = "Category"
amount_col = "Amount"

In [9]:
merged_df[amount_col] = pd.to_numeric(merged_df[amount_col], errors="coerce")

In [10]:
print(merged_df.head())

  Order ID Order Date CustomerName        State       City  Amount  Profit  \
0  B-25601 2018-04-01       Bharat      Gujarat  Ahmedabad    1275   -1148
1  B-25601 2018-04-01       Bharat      Gujarat  Ahmedabad      66     -12
2  B-25601 2018-04-01       Bharat      Gujarat  Ahmedabad       8      -2
3  B-25601 2018-04-01       Bharat      Gujarat  Ahmedabad      80     -56
4  B-25602 2018-04-01        Pearl  Maharashtra       Pune     168    -111

   Quantity     Category      Sub-Category
0         7    Furniture         Bookcases
1         5     Clothing             Stole
2         3     Clothing       Hankerchief
3         4  Electronics  Electronic Games
4         2  Electronics            Phones

In [11]:
category_sales = merged_df.groupby(category_col)[amount_col].sum().reset_index()
category_sales = category_sales.sort_values(by=amount_col, ascending=False)

In [12]:
print(category_sales)

      Category  Amount
1  Electronics  165267
0     Clothing  139054
2    Furniture  127181

# Part_1(B)

In [17]:
profit_col = "Profit"

In [18]:
print(merged_df.head())

  Order ID Order Date CustomerName        State       City  Amount  Profit  \
0  B-25601 2018-04-01       Bharat      Gujarat  Ahmedabad    1275   -1148
1  B-25601 2018-04-01       Bharat      Gujarat  Ahmedabad      66     -12
2  B-25601 2018-04-01       Bharat      Gujarat  Ahmedabad       8      -2
3  B-25601 2018-04-01       Bharat      Gujarat  Ahmedabad      80     -56
4  B-25602 2018-04-01        Pearl  Maharashtra       Pune     168    -111

   Quantity     Category      Sub-Category
0         7    Furniture         Bookcases
1         5     Clothing             Stole
2         3     Clothing       Hankerchief
3         4  Electronics  Electronic Games
4         2  Electronics            Phones

In [19]:
merged_df[amount_col] = pd.to_numeric(merged_df[amount_col], errors="coerce")
merged_df[profit_col] = pd.to_numeric(merged_df[profit_col], errors="coerce")

In [20]:
summary = merged_df.groupby(category_col).agg(total_sales=(amount_col, "sum") avg_profit_per_order=(profit_col, "mean"), total_profit=(profit_col,"sum")).reset_index()

In [21]:
print(summary)

      Category  total_sales  avg_profit_per_order  total_profit
0     Clothing       139054             11.762908         11163
1  Electronics       165267             34.071429         10494
2    Furniture       127181              9.456790          2298

In [22]:
summary["profit_margin_pct"] = (summary["total_profit"] / summary["total_sales"]) * 100
summary = summary.sort_values(by="total_sales", ascending=False)

In [23]:
print(summary)

      Category  total_sales  avg_profit_per_order  total_profit  \
1  Electronics       165267             34.071429         10494
0     Clothing       139054             11.762908         11163
2    Furniture       127181              9.456790          2298

   profit_margin_pct
1           6.349725
0           8.027817
2           1.806874

# Part_1(c)

In [27]:
top_by_sales = summary.sort_values(by="total_sales", ascending=False).head(3)
top_by_margin = summary.sort_values(by="profit_margin_pct", ascending=False).head(3)
under_by_margin = summary.sort_values(by="profit_margin_pct", ascending=True).head(3)

In [45]:
print(summary)

      Category  total_sales  avg_profit_per_order  total_profit  \
1  Electronics       165267             34.071429         10494
0     Clothing       139054             11.762908         11163
2    Furniture       127181              9.456790          2298

   profit_margin_pct
1           6.349725
0           8.027817
2           1.806874

In [39]:
print(top_by_sales)

      Category  total_sales  avg_profit_per_order  total_profit  \
1  Electronics       165267             34.071429         10494
0     Clothing       139054             11.762908         11163
2    Furniture       127181              9.456790          2298

   profit_margin_pct
1           6.349725
0           8.027817
2           1.806874

In [40]:
print(top_by_margin)

      Category  total_sales  avg_profit_per_order  total_profit  \
0     Clothing       139054             11.762908         11163
1  Electronics       165267             34.071429         10494
2    Furniture       127181              9.456790          2298

   profit_margin_pct
0           8.027817
1           6.349725
2           1.806874

In [41]:
print(under_by_margin)

      Category  total_sales  avg_profit_per_order  total_profit  \
2    Furniture       127181              9.456790          2298
1  Electronics       165267             34.071429         10494
0     Clothing       139054             11.762908         11163

   profit_margin_pct
2           1.806874
1           6.349725
0           8.027817